<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> </title>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    /* Styles généraux */
    body {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .active {
        background-color: #475569;
        color: #FFFFFF;
    }

    /* Les boutons actives */
    html:not(.dark) .active {
        background-color: #0D522C;
        color: #FFFFFF;
    }

    /* Styles pour le mode clair uniquement */
    html:not(.dark) .aside-nav:hover {
        background-color: #3C7962;
        color: #FFFFFF;
    }

    html:not(.dark) .btn-add {
        background-color: #0D522C;
        color: #FFFFFF;
    }

    html:not(.dark) .btn-add:hover {
        background-color: #3C7962;
        color: #FFFFFF;
    }

    html:not(.dark) .btn-update {
        background-color: #3C7962;
        color: #FFFFFF;
    }

    html:not(.dark) .btn-update:hover {
        background-color: #0D522C;
        color: #FFFFFF;
    }
</style>
