<header class="relative bg-cover bg-center mx-auto w-5/6 h-64" style="background-image: url('images/product1.webp');">
    <div class="absolute inset-0 bg-black bg-opacity-40 flex flex-col justify-center items-center text-white">
        <h2 class="text-7xl font-bold mb-16 text-center">L'excellence &agrave; bas prix :)</h2>
<form class="flex items-center bg-white rounded-full px-4 w-1/2 max-w-xl mt-6">
    <input
        type="text"
        placeholder="Rechercher produit..."
        class="flex-grow focus:outline-none px-4 py-2 text-gray-700 rounded-l-full"
        required
    />
    <button type="submit" class="p-3 text-green-600 hover:text-white hover:bg-green-600 rounded-full">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
        </svg>
    </button>
</form>

    </div>
</header>

