<nav class="bg-white shadow-md py-4 px-24 flex justify-between items-center">
    <div class="flex items-center space-x-1">
        <img src="images/téléchargé.png" alt="Bag" class="w-12 h-12 object-cover rounded">
        <span class="text-xl font-bold " style="color: #0d522c;">GROUPE-2</span>
    </div>
    <div class="flex space-x-6 px-8 ml-auto font-montserrat ">
        <a href="#" class="text-[#000000] hover:text-[#0d522c] focus:text-[#0d522c] active:text-[#0d522c]">ACCUEIL</a>
        <a href="#" class="text-[#000000] hover:text-[#0d522c] focus:text-[#0d522c] active:text-[#0d522c]">CART</a>
        <a href="#" class="text-[#000000] hover:text-[#0d522c] focus:text-[#0d522c] active:text-[#0d522c]">PRE ORDER</a>
        <a href="#" class="text-[#000000] hover:text-[#0d522c] focus:text-[#0d522c] active:text-[#0d522c]">CONTACTS</a>
    </div>
    
    
    <button class="bg-[#3c7962] text-white px-4 py-2 rounded-full">Mon compte</button>
</nav>