<!DOCTYPE html>
<html lang="en">
<!-- The head-->
<head>
    <% include includes/head %>
</head>
<body>
    <!-- The header-->
    <header id="header">
        <% include includes/header %>
    </header>

    <!-- The main-->
    <main id="main">
        <%- body %>
    </main>

    <!-- The footer-->
    <footer id="footer">
        <% include includes/footer %>
    </footer>
</body>
</html>
